body {
  background-color:#272727;
  text-align: center;
  color:#fff;
}

h1 {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    margin: 0;
    font-size: 5em;
}

* { color:#fff; text-decoration: none;}